<html>
<head>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel="stylesheet" href="https://unpkg.com/papercss@1.8.2/dist/paper.min.css">
<title>Officer History</title>
</head>
<body>
<div class="paper container margin-top">
    <h1>Use of Force Incidents for Officer #{{ serial }}</h1>
    {% for incident in incidents %}
    <p>{{ incident.occured_date_time }}:
       {{ incident.incident_type }}
       ({{ incident.subject_race }}, {{incident.subject_gender}})</p>
    {% endfor %}
</div>
</body>
</html>
